<a href="https://colab.research.google.com/github/BE-FARAD/tvdatafeed/blob/main/tvdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install --upgrade --no-cache-dir git+https://github.com/StreamAlpha/tvdatafeed.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/StreamAlpha/tvdatafeed.git
  Cloning https://github.com/StreamAlpha/tvdatafeed.git to /tmp/pip-req-build-ppve81u5
  Running command git clone --filter=blob:none --quiet https://github.com/StreamAlpha/tvdatafeed.git /tmp/pip-req-build-ppve81u5
  Resolved https://github.com/StreamAlpha/tvdatafeed.git to commit a7034f04509b67224618917c29272796e4fff858
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from tvdatafeed==2.1.0) (63.4.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from tvdatafeed==2.1.0) (1.4.4)
Collecting websocket-client
  Downloading websocket_client-1.5.1-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.9/55.9 KB 4.7 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from tvdatafeed==2.1.0) (2.25.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas->tvdatafeed==2.1.0) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->tvdatafeed==2.1.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->tvdatafeed==2.1.0) (2022.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->tvdatafeed==2.1.0) (1.26.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->tvdatafeed==2.1.0) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->tvdatafeed==2.1.0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->tvdatafeed==2.1.0) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->tvdatafeed==2.1.0) (1.15.0)
Building wheels for collected packages: tvdatafeed
  Building wheel for tvdatafeed (setup.py) ... done
  Created wheel for tvdatafeed: filename=tvdatafeed-2.1.0-py3-none-any.whl size=7566 sha256=eba2f288e0e400c20d06d2e75a761e13b3dea26aa3f462dc73075c441615dff6
  Stored in directory: /tmp/pip-ephem-wheel-cache-aiagrgwf/wheels/a4/80/7a/04bbe70838a72f13c4511eb1b4baf894bf0b3a559ca4287aa5
Successfully built tvdatafeed
Installing collected packages: websocket-client, tvdatafeed
Successfully installed tvdatafeed-2.1.0 websocket-client-1.5.1

In [8]:
from tvDatafeed import TvDatafeed, Interval

username = 'Alami-'
password = 'Ey1oba1Casa'

tv = TvDatafeed(username, password)

In [9]:
tv = TvDatafeed()

WARNING:tvDatafeed.main:you are using nologin method, data you access may be limited

In [14]:
# index
nifty_index_data = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_1_hour,n_bars=1000)

nifty_index_data

,symbol,open,high,low,close,volume
datetime,,,,,,
2022-08-17 06:45:00,NSE:NIFTY,17930.15,17945.10,17922.25,17934.80,27599895.0
2022-08-17 07:45:00,NSE:NIFTY,17934.20,17943.90,17917.10,17924.05,29291828.0
2022-08-17 08:45:00,NSE:NIFTY,17923.85,17965.95,17916.40,17946.15,38866539.0
2022-08-17 09:45:00,NSE:NIFTY,17946.65,17946.65,17927.40,17929.05,22817197.0
2022-08-18 03:45:00,NSE:NIFTY,17916.05,17954.65,17863.45,17940.40,67883952.0
...,...,...,...,...,...,...
2023-03-14 05:45:00,NSE:NIFTY,17055.25,17088.90,17038.55,17069.20,30192060.0
2023-03-14 06:45:00,NSE:NIFTY,17068.90,17185.70,17026.20,17036.50,44580457.0
2023-03-14 07:45:00,NSE:NIFTY,17034.80,17064.15,16998.70,17008.70,40123507.0
2023-03-14 08:45:00,NSE:NIFTY,17009.50,17075.95,16987.10,17059.45,46348597.0
2023-03-14 09:45:00,NSE:NIFTY,17060.00,17068.65,17037.80,17068.65,16316763.0